:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Preload Fonts in index.html:
<link rel="preload" href="/fonts/Poppins-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
*/

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v23-latin-regular") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

/* Paragraph */
p {
  font-size: 1rem;

  margin-bottom: 1rem;
}

/* Links */
a {
  color: #bebcbc;
  text-decoration: none;
}

a:hover {
  color: #58ccfa;
}

/* Images */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  body {
    font-size: 0.95rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
